<!DOCTYPE html>
<html lang=xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/phonebook.css"/>
    <title>Vacancy</title>
</head>
<body>

<div id="app" class="content">

    <div class="filter-container">
        <label class="mr-1">
            Введите текст:
            <input type="text" class="form-control input-sm" v-model="filterQuery"/>
        </label>
        <button class="btn btn-primary" v-on:click="applyFilter">Отфильтровать</button>
        <button class="btn btn-primary" @click="resetFilter">Сбросить фильтр</button>
        <button class="btn btn-light" @click="getTopSalary">Топ - зарплата</button>

        <label>
            <label>
                <select class="form-control" v-model="filterRegion" @change="applyFilter">
                    <option :value="null">-----</option>
                    <option class="btn-light" v-for="city in cityName" :value="city.id">
                        {{city.name}}
                    </option>
                </select>
            </label>
        </label>

    </div>

    <table class="table table-bordered contact-table">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Регион</th>
            <th>Дата публикации</th>
            <th>Организация</th>
            <th>Зарплата</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak v-for="row in rows">
            <template v-if="row.shown">
                <td v-text="row.number"></td>
                <td v-text="row.name"></td>
                <td>
                    <span v-if="row.area!==null">
                        г.{{row.area.name}}
                    </span>
                    <span v-else>
                        Неизвестно
                    </span>
                </td>
                <td>{{row.published_at}}=={{getDate}}</td>
                <td v-text="row.employer.name"></td>
                <td>
                    <span v-if="row.salary">
                        <span v-if="row.salary.from===0">До {{row.salary.to}} руб.</span>
                        <span v-else-if="row.salary.to===0">От {{row.salary.from}} руб.</span>
                        <span v-else>От {{row.salary.from }} руб. до {{row.salary.to}} руб. </span>
                      </span>
                    <span v-else>Договорная</span>
                </td>
            </template>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" v-for="page in pages" @click="applyFilter" v-model="currentPage">
     {{page}}
    </button>

</div>
<script src="js/libs/jquery.js"></script>
<script src="js/libs/bootstrap.bundle.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/vacancyBook.js"></script>
</body>
</html>