<!DOCTYPE html>
<html lang=xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/vacancy.css"/>
    <title>Vacancy</title>
</head>
<body>
<div id="app" class="content">
    <go-top :size="50"
            :right="50"
            :bottom="50"
            :z-index="100"
            fg-color="#0275d8"
            bg-color="white"
            weight="bold"
            border-color="#0275d8"
            ripple-bg="rgba(2, 117, 216)"
            :boundary="500"
            :max-width="0"
            :has-outline="false"
            box-shadow="5px 5px 5px rgba(2, 117, 216)"
            :tabindex="-1">
    </go-top>
    <div class="filter-container">
        <label class="mr-1">
            <input type="text" class="form-control input-sm" v-model="filterQuery" placeholder="Найти:"/>
        </label>
        <button class="btn btn-primary" v-on:click="applyFilter">Отфильтровать</button>
        <button class="btn btn-primary" @click="resetFilter">Сбросить фильтр</button>
        <button class="btn btn-primary" @click="getTopSalary">{{countTopVacancy}} топ - зарплата</button>

        <label>
            <select class="form-control" v-model="filterRegion" @change="applyFilter" size="1">
                <option :value="''">Выберите регион</option>
                <option v-for="area in sortedCitiesName" :value="area.id">
                    г.{{area.name}}
                </option>
            </select>
        </label>
    </div>

    <table class="table table-bordered contact-table">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Регион</th>
            <th>Дата публикации</th>
            <th>Организация</th>
            <th>Зарплата</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak v-for="row in rows">
            <template v-if="row.shown">
                <td>{{row.number}}</td>
                <td>{{row.name}}</td>
                <td>
                    <span v-if="row.area!==null">г.{{row.area.name}}
                    </span>
                    <span v-else>
                    </span>
                </td>
                <td>{{formatDate(row.published_at)}}</td>
                <td>{{row.employer.name}}</td>
                <td>
                    <span v-if="row.salary">
                        <span v-if="row.salary.from===0">До {{row.salary.to}} {{translateCurrency(row.salary.currency)}}</span>
                        <span v-else-if="row.salary.to===0">От {{row.salary.from}} {{translateCurrency(row.salary.currency)}}</span>
                        <span v-else>От {{row.salary.from }} {{translateCurrency(row.salary.currency)}} до {{row.salary.to}} {{translateCurrency(row.salary.currency)}} </span>
                      </span>
                    <span v-else>Договорная</span>
                </td>
            </template>
        </tr>
        </tbody>
    </table>
    <div class="pagination-lg">
        <p class="fixed">Страница: {{currentPage+1}}</p>
        <button class="btn btn-primary" @click="prevPage"><=</button>
        <button class="btn btn-primary" v-for="page in pages" @click="setPage(page-1)">
            {{page}}
        </button>
        <button class="btn btn-primary" @click="nextPage()">=></button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="js/libs/jquery.js"></script>
<script src="js/libs/bootstrap.bundle.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/libs/vue-go-top.min.js"></script>
<script src="js/vacancyBook.js"></script>
</body>
</html>